html, body{
    height: 100%;
    background-image: url("images/bd.jpg");
    background-size: cover;
  }

  /*PARÁMETROS DE LA TABLA*/


.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    text-align: left;
  }
  .blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  .blueTable tbody td {
    font-size: 13px;
  }
  .blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  .blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  .blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  .blueTable thead th:first-child {
    border-left: none;
  }
  
  .blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
  }
  .blueTable tfoot td {
    font-size: 14px;
  }
  .blueTable tfoot .links {
    text-align: right;
  }
  .blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }

.selectFriends {
    height: 100%;
    width: 100%;
}

.selectAvailables {
  height: 100%;
  width: 100%;
}

.labelDiv{
    height: 25%;
    width: 100%;
}

.buttonsContainer{
  float:left;
  position: relative;
  height: 100%;
  width: 15%;
}

.boton1 {
    position: relative;
    float:left;
    background-image: url(images/fizq.png);
    width: 128px;
    height: 128px;
    margin-left: -55%;
    margin-top: -60%;
}

.boton2 {
    position: relative;
    float:left;
    background-image: url(images/fder.jpg);
    width: 128px;
    height: 128px;
    margin-left: 120%;
    margin-top: -115%;
    z-index: 2;
}

#amigos{
  width: 100%;
  height: 50%;
}

#disponibles{
  width: 100%;
  height: 50%;
}

#personContainer{
    float:left;
    position: relative;
    height: 100%;
    width: 45%;
}

#friendsContainer{
    float:left;
    position: relative;
    height: 100%;
    width: 20%;
}

#availablesContainer{
    float:left;
    position: relative;
    height: 100%;
    width: 20%;
}

#personLabel {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    top: 100px;
    margin-left: 30%;
}

#friendsLabel {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    top: 100px;
    margin-left: 20%;
}

#availablesLabel {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    top: 100px;
    margin-left: 15%;
}

/*FORMULARIO*/

#personTable{
    overflow: scroll;
    width: 90%;
    height: 50%;
    margin-left: 5%;
}

#formFriends{
  width: 100%;
  height: 100%;
}

#formAvailables{
  width: 100%;
  height: 100%;
}