html, body{
    height: 100%;
    background-image: url("images/bd.jpg");
    background-size: cover;
  }

  /*PARÁMETROS DE LA TABLA*/


.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    text-align: left;
  }
  .blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  .blueTable tbody td {
    font-size: 13px;
  }
  .blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  .blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  .blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  .blueTable thead th:first-child {
    border-left: none;
  }
  
  .blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
  }
  .blueTable tfoot td {
    font-size: 14px;
  }
  .blueTable tfoot .links {
    text-align: right;
  }
  .blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }

.selectFriends {
    height: 100%;
    width: 100%;
}

.selectAvailables {
  height: 100%;
  width: 100%;
}

.labelDiv{
    height: 25%;
    width: 100%;
}

.buttonsContainer{
  float:left;
  position: relative;
  height: 100%;
  width: 15%;
}

.boton1 {
    position: relative;
    float:left;
    background-image: url(images/fizquierda1.png);
    background-size: 150%;
    background-position: 50% 50%;
    padding: 0;
    outline: none;
    border-radius:50%;
    border-color: #5592bb;
    width: 128px;
    height: 128px;
    margin-left: -55%;
    margin-top: -60%;
    background-color: rgba(0, 0, 0, 0);
}


.boton2 {
    position: relative;
    float:left;
    background-image: url(images/fderecha1.png);
    background-size: 150%;
    background-position: 50% 50%;
    background-color: rgba(0, 0, 0, 0);
    border-color: #5592bb;
    padding: 0;
    outline: none;
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin-left: 120%;
    margin-top: -115%;
    z-index: 2;
}

.botonSeleccionar{
  width: 100px;
  height: 23px;
  margin-left: 30%;
  margin-top: 0%;
  background: rgba(72,172,234,1);
  background: -moz-linear-gradient(left, rgba(72,172,234,1) 0%, rgba(31,143,229,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(72,172,234,1)), color-stop(100%, rgba(31,143,229,1)));
  background: -webkit-linear-gradient(left, rgba(72,172,234,1) 0%, rgba(31,143,229,1) 100%);
  background: -o-linear-gradient(left, rgba(72,172,234,1) 0%, rgba(31,143,229,1) 100%);
  background: -ms-linear-gradient(left, rgba(72,172,234,1) 0%, rgba(31,143,229,1) 100%);
  background: linear-gradient(to right, rgba(72,172,234,1) 0%, rgba(31,143,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48acea', endColorstr='#1f8fe5', GradientType=1 );
  border-radius: 122px 122px 122px 122px;
  -moz-border-radius: 122px 122px 122px 122px;
  -webkit-border-radius: 122px 122px 122px 122px;
  border: 0px solid #000000;
  font-weight: 600;
  font-size: 12px;
}

.botonSeleccionar:hover{
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, #2079b0, #0dd3ff);
    background-image: -moz-linear-gradient(top, #2079b0, #0dd3ff);
    background-image: -ms-linear-gradient(top, #2079b0, #0dd3ff);
    background-image: -o-linear-gradient(top, #2079b0, #0dd3ff);
    background-image: linear-gradient(to bottom, #2079b0, #0dd3ff);
    text-decoration: none;
}

.botonSeleccionado{
  width: 100px;
  height: 23px;
  margin-left: 30%;
  margin-top: 0%;
  background: red;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48acea', endColorstr='#1f8fe5', GradientType=1 );
  border-radius: 122px 122px 122px 122px;
  -moz-border-radius: 122px 122px 122px 122px;
  -webkit-border-radius: 122px 122px 122px 122px;
  border: 0px solid #000000;
  font-weight: 600;
  font-size: 12px;
}

#amigos{
  width: 100%;
  height: 50%;
}

#disponibles{
  width: 100%;
  height: 50%;
}

#personContainer{
    float:left;
    position: relative;
    height: 100%;
    width: 45%;
}

#friendsContainer{
    float:left;
    position: relative;
    height: 100%;
    width: 20%;
}

#availablesContainer{
    float:left;
    position: relative;
    height: 100%;
    width: 20%;
}

#personLabel {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    top: 100px;
    margin-left: 30%;
}

#friendsLabel {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    top: 100px;
    margin-left: 20%;
}

#availablesLabel {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    top: 100px;
    margin-left: 15%;
}

/*FORMULARIO*/

#personTable{
    overflow: scroll;
    width: 90%;
    height: 50%;
    margin-left: 5%;
}

#formFriends{
  width: 100%;
  height: 100%;
}

#formAvailables{
  width: 100%;
  height: 100%;
}